<div class="col-lg-12">
    <form {{action "sendRequest" form on="submit"}}>
        <div class="form-group">
            <label for="name">Ваше Имя:</label>
            <!--<input type="text" class="form-control" id="name" placeholder="Введите имя">-->
            {{input id=name value=form.name class="form-control" placeholder="Введите имя"}}
        </div>
        <div class="form-group">
            <label for="phone">Ваш Телефон:</label>
            <!--<input type="text" class="form-control" id="phone" placeholder="Введите телефон">-->
            {{input id=phone value=form.phone class="form-control" placeholder="Введите телефон"}}
        </div>
        <div class="form-group">
            <label for="email">Ваш E-mail:</label>
            <!--<input type="email" class="form-control" id="email" placeholder="Оставте ваш E-mail">-->
            {{input id=email value=form.email class="form-control" placeholder="Введите E-mail"}}
        </div>
        <div class="form-group">
            <label for="comment">Коментарий</label>
            <textarea type="text" class="form-control" id="comment" placeholder="Оставте свой коментарий"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>
{{yield}}
